{% import "macros/activity-card.njk" as activityCard %}

{% macro render(activities, badges, ageGroups, isComplementary = false) %}

<div class="grid">

{% if activities.length > 0 %}


{% set cards = activities
  | activityCardModel({
      badges: badges,
      ageGroups: ageGroups,
      isComplementary: isComplementary
    })
%}

{% for card in cards %}

  {{ activityCard.render(card) }}

{% endfor %}


{% else %}

  <div class="empty-state">
  </div>

{% endif %}

</div>

{% endmacro %}
