---
layout: layouts/base.njk
title: Tipo de Actividad
---

<h1>
  Tipo de Actividad
</h1>

<div class="grid">

  {% for activityType in activityTypes %}

    {% set activityCount = 0 %}

    {% for activity in collections.activitiesSorted %}

      {% if activity.data.activity_type %}

        {% if activityType.name in activity.data.activity_type %}
          {% set activityCount = activityCount + 1 %}
        {% endif %}

      {% endif %}

    {% endfor %}

    <a href="{{ ('/activityType/' + activityType.id + '/') | url }}">

      <div class="card">

        <div class="card-content">

          <h2>
            {{ activityType.name }}
          </h2>

          <p>
            {{ activityCount }} actividades
          </p>

        </div>

      </div>

    </a>

  {% endfor %}

</div>


