---
layout: layouts/base.njk
title: Insignias
---

<h1>
  Insignias
</h1>

<div class="grid">

  {% for badge in badges %}

    <a href="{{ ('/badges/' + badge.id + '/') | url }}">

      <div class="card">

        {% if badge.logo and not badge.generic %}

          <img
            class="badge"
            src="{{ badge.logo | url }}"
            alt="{{ badge.name }}">

        {% endif %}

        <div class="card-content">

          <h2>
            {{ badge.name }}
          </h2>

          {% if badge.description %}

            <p>
              {{ badge.description }}
            </p>

          {% endif %}

        </div>

      </div>

    </a>

  {% endfor %}


</div>

