---
layout: layouts/base.njk
title: ODS
---

<h1>
  Objetivos de Desarrollo Sostenible
</h1>

<div class="grid">

  {% for sdg in allSdgs %}

    {% set activityCount = 0 %}

    {% for activity in collections.activitiesSorted %}

      {% if activity.data.sdgs and (sdg.id in activity.data.sdgs) %}

        {% set activityCount = activityCount + 1 %}

      {% endif %}

    {% endfor %}

    <a href="{{ ('/ods/' + sdg.id + '/') | url }}">

      <div class="card sdg-card">

        <img
          class="badge"
          src="{{ ('/imagenes/ods/ods-' + sdg.id + '.png') | url }}"
          alt="ODS {{ sdg.id }}">

        <div class="card-content">

          <h2>
            ODS {{ sdg.id }}
          </h2>

          <p>
            {{ sdg.name }}
          </p>

          <p class="sdg-count">
            {{ activityCount }} actividades
          </p>

        </div>

      </div>

    </a>

  {% endfor %}

</div>

