---
layout: layouts/base.njk

styles:
  - /css/cards.css
  - /css/search.css
---

<h1>{{ title }}</h1>

<div class="grid">

{% for activityItem in collections.activitiesSorted %}


{% set item = activityItem.data %}
{% set activityUrl = activityItem.url %}
{% include "components/activity-card.njk" %}


{% endfor %}

</div>



