---
layout: layouts/base.njk
---


<h1>{{ title }}</h1>

<div class="grid">

{% for activityItem in collections.activities %}


<a href="{{ activityItem.url }}">

  {% include "components/activity-card.njk" %}

</a>

{% endfor %}

</div>



