---
layout: layouts/base.njk
---

<section class="page-header">

  <div>

    <h1>
      {{ age.name }}
    </h1>

    <p>
      Actividades recomendadas para {{ age.name }}.
    </p>

  </div>

</section>

<div class="grid">

  {% for activity in collections.activitiesSorted %}

    {% if activity.data.age_group %}

      {% for item in activity.data.age_group %}

        {% set ageInfo = item | normalizeAge(ageGroups) %}

        {% if ageInfo.id == age.id %}

{% set item = activity.data %}
{% set activityUrl = activity.url %}
          {% include "components/activity-card.njk" %}

        {% endif %}

      {% endfor %}

    {% endif %}

  {% endfor %}

</div>
