---
layout: layouts/base.njk
---

<section class="taxonomy-header">

  <div class="taxonomy-content">

    <h1>
      {{ age.name }}
    </h1>

    <p>
      Actividades recomendadas para {{ age.name }}.
    </p>

  </div>

</section>



<section>

  <div class="grid">

    {% for activity in collections.activities %}

      {% if activity | activityHasAge(age.name) %}

        <a href="{{ activity.url }}">

          {% set activityItem = activity %}

          {% include "components/activity-card.njk" %}

        </a>

      {% endif %}

    {% endfor %}

  </div>

</section>


