---
layout: layouts/base.njk
---

<section class="page-header">

  <div>

    <h1>
      {{ age.name }}
    </h1>

    <p>
      Actividades recomendadas para {{ age.name }}.
    </p>

  </div>

</section>

<div class="grid">

  {% for activity in collections.activities %}

    {% if activity.data.age_group and (age.name in activity.data.age_group) %}

      <a href="{{ activity.url }}">

        {% set activity = activity %}

        {% include "components/activity-card.njk" %}

      </a>

    {% endif %}

  {% endfor %}

</div>
