---
layout: layouts/base.njk
---

<section class="page-header">

  <img
    src="{{ ('/imagenes/insignias/' + badge.id + '.png') | url }}"
    alt="{{ badge.name }}">

  <div>

    <h1>
      {{ badge.name }}
    </h1>

    {% if badge.description %}

      <p>
        {{ badge.description }}
      </p>

    {% endif %}

  </div>

</section>

{% if badge.sources and badge.sources.length %}

  <section class="info-box">

    <h2>
      Fuentes y referencias
    </h2>

    <ul>

      {% for source in badge.sources %}

        <li>

          <a
            href="{{ source.url }}"
            target="_blank"
            rel="noopener">

            {{ source.name }}

          </a>

        </li>

      {% endfor %}

    </ul>

  </section>

{% endif %}

<section class="section-spacing">

  <h2>
    Actividades relacionadas
  </h2>

  <div class="grid">

    {% for activity in collections.activitiesSorted %}

      {% if activity.data.activity_badges %}

        {% for item in activity.data.activity_badges %}

          {% if (item | slugify) == (badge.id | slugify) %}

{% set item = activity.data %}
{% set activityUrl = activity.url %}
{% include "components/activity-card.njk" %}
          {% endif %}

        {% endfor %}

      {% endif %}

    {% endfor %}

  </div>

</section>

