---
layout: layouts/base.njk
---

<section class="taxonomy-header">

  <img
    class="taxonomy-image"
    src="/imagenes/insignias/{{ badge.id }}.png"
    alt="{{ badge.name }}">

  <div class="taxonomy-content">

    <h1>
      {{ badge.name }}
    </h1>

    <p>
      Actividades relacionadas con la insignia {{ badge.name }}.
    </p>

  </div>

</section>



<section>

  <div class="grid">

    {% for activity in collections.activities %}

      {% if activity | activityHasBadge(badge.id) %}

        <a href="{{ activity.url }}">

          {% set activityItem = activity %}

          {% include "components/activity-card.njk" %}

        </a>

      {% endif %}

    {% endfor %}

  </div>

</section>


