<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>

<meta
  name="generator"
  content="Eleventy">

  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0">

  {% set pageTitle %}
    {% if title %}
      {{ title }} - {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  {% endset %}

  {% set pageDescription %}
    {% if description %}
      {{ description }}
    {% else %}
      {{ site.description }}
    {% endif %}
  {% endset %}

  {% set canonicalUrl %}
    {{ site.url }}{{ page.url | url }}
  {% endset %}

  <title>
    {{ pageTitle | trim }}
  </title>

  <meta
    name="description"
    content="{{ pageDescription | trim }}">

  <meta
    name="theme-color"
    content="#355b38">

  <meta
    name="author"
    content="{{ site.author }}">

  <link
    rel="canonical"
    href="{{ canonicalUrl | trim }}">

  <link
    rel="icon"
    type="image/png"
    href="{{ '/imagenes/favicon.png' | url }}">

  <!-- OpenGraph -->

  <meta
    property="og:type"
    content="website">

  <meta
    property="og:site_name"
    content="{{ site.name }}">

  <meta
    property="og:title"
    content="{{ pageTitle | trim }}">

  <meta
    property="og:description"
    content="{{ pageDescription | trim }}">

  <meta
    property="og:url"
    content="{{ canonicalUrl | trim }}">

  <meta
    property="og:image"
    content="{{ site.url }}{{ '/imagenes/social-preview.jpg' | url }}">

  <!-- Twitter -->

  <meta
    name="twitter:card"
    content="summary_large_image">

  <meta
    name="twitter:title"
    content="{{ pageTitle | trim }}">

  <meta
    name="twitter:description"
    content="{{ pageDescription | trim }}">

  <meta
    name="twitter:image"
    content="{{ site.url }}{{ '/imagenes/social-preview.jpg' | url }}">

  <!-- Performance -->

  <link
    rel="preconnect"
    href="https://fonts.googleapis.com">

  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin>

  <!-- CSS -->

  <link
    rel="stylesheet"
    href="{{ '/css/main.css' | url }}">

</head>

<body>

  {% include "components/navbar.njk" %}

  <main class="page-container">

    {{ content | safe }}

  </main>

  {% include "components/footer.njk" %}

  <script
    src="{{ '/pagefind/pagefind-ui.js' | url }}">
  </script>

</body>

</html>
