---
layout: layouts/base.njk
---

<section class="taxonomy-header">

  <img
    class="taxonomy-image"
    src="/imagenes/ods/ods-{{ sdg.id }}.png"
    alt="ODS {{ sdg.id }}">

  <div class="taxonomy-content">

    <h1>
      ODS {{ sdg.id }}
    </h1>

    <p>
      {{ sdg.name }}
    </p>

  </div>

</section>



<section>

  <div class="grid">

    {% for activity in collections.activities %}

      {% if activity | activityHasSdg(sdg.id) %}

        <a href="{{ activity.url }}">

          {% set activityItem = activity %}

          {% include "components/activity-card.njk" %}

        </a>

      {% endif %}

    {% endfor %}

  </div>

</section>


