---
layout: layouts/base.njk
---

<section class="page-header">

  <img
    src="/imagenes/ods/ods-{{ sdg.id }}.png"
    alt="ODS {{ sdg.id }}">

  <div>

    <h1>
      ODS {{ sdg.id }}
    </h1>

    <p>
      {{ sdg.name }}
    </p>

  </div>

</section>

<div class="grid">

  {% for activity in collections.activities %}

    {% if activity.data.sdgs and (sdg.id in activity.data.sdgs) %}

      <a href="{{ activity.url }}">

        {% set activity = activity %}

        {% include "components/activity-card.njk" %}

      </a>

    {% endif %}

  {% endfor %}

</div>
