---
layout: layouts/base.njk

styles:
  - /css/cards.css


---
{% set activityCount = 0 %}

{% for activity in collections.activitiesSorted %}

  {% if activity.data.sdgs and (sdg.id in activity.data.sdgs) %}

    {% set activityCount = activityCount + 1 %}

  {% endif %}

{% endfor %}

<section class="page-header sdg-page-header">

  <img
    src="{{ ('/imagenes/ods/ods-' + sdg.id + '.png') | url }}"
    alt="ODS {{ sdg.id }}">

  <div>

    <h1>
      ODS {{ sdg.id }}
    </h1>

    <p>
      {{ sdg.name }}
    </p>

    <p class="sdg-count">
      {{ activityCount }} actividades relacionadas
    </p>

  </div>

</section>

<div class="grid">

  {% for activity in collections.activitiesSorted %}

    {% if activity.data.sdgs and (sdg.id in activity.data.sdgs) %}

      {% set item = activity.data %}
      {% set activityUrl = activity.url %}

      {% include "components/activity-card.njk" %}

    {% endif %}

  {% endfor %}

</div>

