<footer class="footer">

  <p>
    Fogata de Recursos
  </p>

  <p>
    Recursos educativos scouts abiertos y reutilizables.
  </p>

  <div class="footer-links">

    <a href="{{ '/activities/' | url }}">
      Actividades
    </a>

    <a href="{{ '/badges/' | url }}">
      Insignias
    </a>

    <a href="{{ '/ods/' | url }}">
      ODS
    </a>

    <a href="{{ '/edades/' | url }}">
      Edades
    </a>

  </div>

</footer>

