<footer class="footer">
  <div class="footer-top">
    <div class="footer-slogan">
      <h3>Fogata de Recursos</h3>
      <p>Biblioteca abierta de actividades scouts, recursos educativos y propuestas pedagógicas.</p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-links-col">
      <h4>Explorar</h4>

 <a href="{{ '/activities/' | url }}">
      Actividades
    </a>

    <a href="{{ '/badges/' | url }}">
      Insignias
    </a>

    <a href="{{ '/ods/' | url }}">
      ODS
    </a>

    <a href="{{ '/edades/' | url }}">
      Edades
    </a>

    <a href="{{ '/competencias/' | url }}">
        Competencias
      </a>

      <a href="{{ '/valoresScout/' | url }}">
        Valores Scout
      </a>

      <a href="{{ '/metodoScout/' | url }}">
        Método Scout
      </a>

      <a href="{{ '/activityTypes/' | url }}">
        Tipos de Actividad
      </a>
    </div>
    <div class="footer-links-col">
      <h4>Acerca de</h4>
<a href="{{ '/acerca-de/' | url }}">
  El proyecto
</a>
      <a href="#">Cómo contribuir</a>
      <a href="#">Créditos</a>
    </div>
    <div class="footer-links-col">
      <h4>Legal</h4>
      <a href="#">Términos de uso</a>
      <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/igo/">Licencia CC BY-NC-SA</a>
      <a href="#">Política de privacidad</a>
    </div>
    <div class="footer-links-col">
      <h4>Redes</h4>
      <a href="https://github.com/mok726/fogata-recursos">GitHub</a>
<!--      <a href="#">Mastodon</a>
      <a href="#">Correo</a>  -->
    </div>
  </div>
</footer>


