<nav class="navbar">

  <div class="navbar-left">

    <a class="navbar-brand" href="/">
      Fogata de Recursos
    </a>

  </div>

  <div class="navbar-center">

    <a href="/activities/">
      Actividades
    </a>

    <a href="/badges/">
      Insignias
    </a>

    <a href="/ods/">
      ODS
    </a>

    <a href="/edades/">
      Edades
    </a>

  </div>

  <div class="navbar-right">

    <button
      id="search-toggle"
      class="search-button"
      type="button">

      Buscar

    </button>

  </div>

</nav>
