<nav class="navbar">

  <a href="{{ '/' | url }}">
    Fogata de Recursos
  </a>

  <div class="nav-links">

    <a href="{{ '/activities/' | url }}">
      Actividades
    </a>

    <a href="{{ '/badges/' | url }}">
      Insignias
    </a>

    <a href="{{ '/ods/' | url }}">
      ODS
    </a>

    <a href="{{ '/edades/' | url }}">
      Edades
    </a>

  </div>

</nav>


